.navigation{
    /* background: chocolate; */
    margin-bottom: 8rem;
}

.nav-items{
    list-style: none;
    display: flex;
    padding: 1.5rem;
    justify-content: center;
}

.nav-item{
    margin: 1rem;
}

.nav-link{
    color: #fff;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    margin: .5rem;
}
.nav-item:nth-child(1) .nav-link{
    border-bottom: 6px solid orange;
}