.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}
#presentation{
    padding: 5rem;
    margin: 0;
}
#presentation>h1{
    text-align: center;
    margin-bottom: 1rem;
}
.d2>h1{
    color: #009765;
}
ol {
    counter-reset: cupcake;
    padding-left: 32px;
    list-style: none;
  }
  ol li {
    counter-increment: cupcake;
    margin: 1rem;
  }
  ol li:before {
    content: counters(cupcake, '.') ' ';
    /* Whatever custom styles you want here */
    color: #fff;
    background: orange;
    border-radius: 50%;
    font-weight: bolder;
    padding: 4px;
    font-family: cursive;
    text-align: center;
    margin: .5rem;
  }

.d1,.d2{
    width:100%;
}