.overlay {
  position: relative;
  background-image: url("../../images/bg-mask.png");
}

.bg-mask {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  padding: 1rem;
}

.cnt {
  display: flex;
  align-items: center;
  position: relative;
  padding: 6rem;
  color: #fff;
  bottom: 100px;
  margin: 0;
  border: 1px solid #fff;
  border-bottom: none;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-shadow: darkcyan;
}
.cnt h1 {
  position: relative;
  bottom: 70px;
}
.profile {
  position: relative;
  bottom: -55px;
}

span {
  color: orange;
  text-transform: uppercase;
}

.coords {
  /* float: left; */
  width: 100%;
}

.pres {
  padding: 1rem;
}

a {
  align-self: stretch;
}

.pres a {
  color: #fff;
  margin: 0.5rem;
  text-decoration: none;
}

.ri {
  color: orange;
}
