#portofolio{
    background: whitesmoke;
    padding: 3rem;
}

h1{
    text-align: center;
    margin-bottom: 2rem;
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    grid-column-gap: 2rem;
    grid-row-gap: 2rem
}

.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-button{
    margin: .5rem;
}

.card-button>button{
    padding: .5rem;
    border: 1px solid #009765;
    background: #fff;
    color: #009765;
    font-weight: bold;
}
.card-button>button:hover{
    background: gold;
    color: #fff;
}


.card-title{
    color: #009765;
    font-size: larger;
    font-weight: bold;
    margin: .5rem;
}