body{
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.flex-child {
  width: 100%;
}
.competence {
  padding: 1rem;
}
.competence h1 {
  color: #069c9c;
}

.langue {
  position: relative;
}

ul {
  list-style: none;
}
.flex-child li {
  
  font-size: 1.5rem;
}

.outils {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1.5rem;
}

.langage {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

#langage {
  background: whitesmoke;
  padding: 1rem;
  float: left;
  margin: 2rem;
}

#outils {
  background: whitesmoke;
  padding: 1rem;
  float: right;
  margin: 2rem;
}
.hobby {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.langue {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.hobby h1{
    position: absolute;
    left: 0;
}
.langue h1{
    position: absolute;
    right: 0;
}
.langue ul{
    position: absolute;
    right: 0;
}
.langue ul>li{
   line-height: 70px;
}
.hobby ul, .langue ul{
    margin:4rem;
}

/* .langue {
  background: whitesmoke;
  padding: 1rem;
  float: right;
  margin: 2rem;
} */
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: inherit;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background: teal;
  /* background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(2, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44); */

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}
