nput[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(253, 188, 23);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-weight: bolder;
}

input[type="submit"]:hover {
  background-color: #009765;
}
input[type="text"]::placeholder,textarea::placeholder {
  font-size: 32px;
}
input[type="text"] {
  height: 70px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(219, 219, 219);
}

textarea {
  height: 300px;
  border: 2px solid black;
}
.contact {
}
.contacts {
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.img-2 {
  width: 70%;
  align-self: flex-end;
}

form {
  width: 100%;
  background: #fff;
  padding: 1rem 2rem;
}
