.experience{
    padding: 2rem;
    background: whitesmoke;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: ;
    grid-template-rows: 1fr;
    grid-row-gap: 2rem;
}

.post{
    color: rgb(2, 2, 29);
    font-weight: bold;
}

.lorem{
    color: black;
}

.year{
    color: orange;
    font-weight: bolder;
}
.experience h1{
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
    color: rgb(2, 2, 58);
}

.exp{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    padding: 2rem;
}